* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: green;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: sticky;
    top: 0;
}

.bg {
    background-color: white;
}

li {
    display: inline-block;
}

header,
section,
footer {
    padding: 20px;
}

section {
    scroll-margin-top: 60px;
}

p {
    margin: 0.5rem 0;
}

.btn {
    border: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 0.5rem;
    background-color: orange;
    font-family: inherit;
    font-size: inherit;
}

.mobile {
    display: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.modal-overlay {
    background-color: rgba(51, 51, 51, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.modal-overlay.visible {
    display: flex;
}

.modal-contents {
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    max-width: 600px;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

.modal-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.modal-btn {
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.modal button:hover {
    cursor: pointer;
}

@media (max-width: 800px) {
    body {
        background-color: azure
    }

    nav ul {
        display: none;
    }

    .mobile {
        display: block;
    }

    ul.responsive {
        display: block;
        background-color: white;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
    }

    ul.responsive li {
        display: block;
        margin: 1rem;
    }
}