* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: green;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

li {
    display: inline-block;
}

header,
section,
footer {
    padding: 20px;
}

p {
    margin: 0.5rem 0;
}

.btn {
    border: none;
    border-radius: 50px;
    box-shadow: none;
    padding: 0.5rem 1rem;
    background-color: orange;
    font-family: inherit;
    font-size: inherit;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}