body {
    background-image: linear-gradient(#ff0000, #74009e);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

h1,
h2,
p {
    margin: 50px auto;
    text-align: center;
}

.colors input {
    width: 60px;
    margin: 0 10px;
}

label {
    color: white;
}

.container {
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    height: 95vh;
}

.directions {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 50px;
}

.direction {
    background: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 85px;
}

.hidden {
    display: none;
}